.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url('../../../public/icons/burger-menu.svg');
  transition: 0.4s all ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url('../../../public/icons/burger-menu-hover.svg');
    transition: 0.4s all ease;
  }

  &:focus {
    transform: translateX(5px);
    transition: 0.4s all ease;
  }
}
