@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 100px;

  &__filters {
    max-width: $max-width;
    width: 100%;
    background-color: $color-smart-it-green;
    padding: 16px;
    border-radius: 16px;
    box-sizing: border-box;
  }

  &__table {
    max-width: $max-width;
    width: 100%;

    @include max-width-on-mobile;
  }

}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  position: relative;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  
  &::after {
    content: '';
    width: 0px;
    height: 0px;
    padding: 1px 5px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
  }
  
  &:hover {
    &::after {
      background-color: $color-smart-it-green;
      transition: all 0.15s ease-in-out;
    }
  }
}

.title {
  max-width: $max-width;
  margin: 0;
  padding: 24px 0;
  font-weight: 300;
  color: #fff;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: start;
}

.filters {
  @include max-width-on-mobile;
  box-sizing: border-box;

  &__title {
    font-size: 32px;
    color: white;
    font-weight: 400;
    margin: 0;
    
    @media (max-width: 740px) {
      padding-bottom: 24px;
    }
  }
}

.filters-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  
  @include max-width-on-mobile;
  box-sizing: border-box;
  
  
  @media (max-width: 740px) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__found-users {
    padding: 8px;
    border-radius: 8px;
    background-color: $color-smart-it-green;
    color: white;
    font-weight: 600;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
}

.no-users-message {
  padding: 8px 16px;
  background-color: $color-smart-it-green;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

@media (max-width: 1020px) {
  .App__filters {
    max-width: 800px;
  }
  .App__table {
    max-width: 800px;
  }
}

@media (max-width: 840px) {
  .App__filters {
    max-width: 600px;
  }
  .App__table {
    max-width: 600px;
  }
}