@use '../../styles/variables' as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__navbar {
    position: sticky;
    top: 0;
    max-width: $max-width;
    width: 100%;
    background-color: white;
    width: 100vw;
    box-sizing: border-box;
  }

  &__title-container {
    width: 100vw;
    background-color: $color-smart-it-green;
    box-sizing: border-box;

    @media (max-width: 640px) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  // padding-top: 24px;
  // padding-bottom: 24px;

  &__logo {
    position: relative;
    bottom: 3px;
  }
}

.title-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1020px) {
  .header__title {
    max-width: 800px;
  }

  .header__navbar {
    max-width: 800px;
  }
}

@media (max-width: 840px) {
  .header__title {
    max-width: 600px;
  }

  .header__navbar {
    max-width: 600px;
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .header__title {
    max-width: 600px;
  }

  .header__navbar {
    max-width: 600px;
    flex-wrap: wrap;
  }
}