@use '../../styles/variables' as *;

.users-table {
  min-width: 100%;
  border-collapse: collapse;
  padding: 100px;
  border-spacing: 0 50px;

  &__row {
    // border-top: 1px solid lightgray;
    padding: 8px 0;

    &--head {
      padding: 4px;
      border-top: none;
      background-color: $color-smart-it-green;
    }

    &:nth-child(even) {
      background-color: rgba(134, 191, 43, 0.255);
    }

    &:only-child:not(.users-table__row--head) {
      background-color: rgba(134, 191, 43, 0.255);
    }
  }

  &__header {
    padding: 8px 16px;
    color: white;
    font-weight: 700;
  }

  &__data {
    color: black;
    padding: 10px;
    border: 10px solid transparent; 
  }
}
