@use '../../styles/mixins' as *;

.users-table {
  @include max-width-on-mobile;

  &__table-cell {
    width: calc((100% - 50px) / 4);
    box-sizing: border-box;

    word-wrap: break-word; // Break text to avoid overflow
    white-space: nowrap; // Prevents text wrapping if not necessary
    overflow: hidden; // Hide overflow for extremely long content
    text-overflow: ellipsis; // Add ellipsis for overflowed text
  }
}

table {
  table-layout: auto;
  width: calc((100% - 50px) / 4) !important;
}