@use '../../styles/mixins' as *;

//////

// .users-table {
//   width: 100%;
  
//   &__cell {
//     word-wrap: break-word;
//     padding: 8px; 
//     overflow-wrap: anywhere;
//     width: calc(100% / 4);

//     &--heading {
//       white-space: nowrap;
//     }
//   }
  
//   @media (max-width: 640px) {
//     th, td {
//       font-size: 12px;
//       padding: 4px;
//     }
//   }
// }

// .table-cell {
//   display: flex;
//   flex-wrap: nowrap;
//   justify-content: space-between;
//   align-items: center;
// }

.sorting-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include for-desktop() {
    gap: 2px;
  }

  &__button {
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 0;
    cursor: pointer;

    @include for-desktop() {
      height: 12px;
      width: 12px;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}

.th-container {
  display: flex;
  align-items: flex-start;
  justify-content: 'flex-start';
  gap: 10px;

  @include for-desktop() {
    gap: 20px;
  }
}