.users-table {
  width: 100%;
  
  &__cell {
    word-wrap: break-word;
    padding: 8px; 
    overflow-wrap: anywhere;
    width: calc(100% / 4);

    &--heading {
      white-space: nowrap;
    }
  }
  
  @media (max-width: 640px) {
    th, td {
      font-size: 12px;
      padding: 4px;
    }
  }
}
